@import 'reset';

* {
    background-color: #F2E8CF;
}

.encabezado {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: url(../assets/img/bambu.jpg);
    background-size: 100% auto;
    justify-items: end;

    padding: 40px 0 40px 0;

    #logo {
        height: 400px;
        width: auto;
        background-color: transparent;
    }

    #carrito {
        height: 60px;
        margin-right: 40px;
        background-color: transparent;
    }

    #carrito:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    a {
        background-color: transparent;
    }
}

hr {
    color: #144631;
    width: 99%;
}

.nav {
    @media (min-width:768px) {
        margin: 2vw 0 6vw 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin-top: 20px;
            font-family: 'Libre Baskerville', serif;
            font-size: 3rem;
            color: #144631;
        }

        hr {
            width: 20vw;
        }

        div {
            margin-top: 6vw;
            font-family: 'Libre Baskerville', serif;
            width: 100%;
            display: flex;
            justify-content: space-around;
            list-style-type: none;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #144631;
                font-size: 1.5rem;
                padding: 8px;
            }

            a:hover {
                border: 1px solid black;
                border-radius: 8px;
                padding: 8px;
            }

            .active {
                border: 1px solid black;
                border-radius: 8px;
                padding: 8px;
            }
        }
    }

    @media (max-width:768px) {
        margin: 2vw 0 6vw 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin-top: 20px;
            font-family: 'Libre Baskerville', serif;
            font-size: 3rem;
            color: #144631;
        }

        hr {
            width: 20vw;
        }

        div {
            margin-top: 6vw;
            font-family: 'Libre Baskerville', serif;
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #144631;
                font-size: 1.5rem;
                margin: 20px;
            }

            a:hover {
                color: black;
            }
        }
    }
}

.titulo{
    text-align: center;
    font-size: 4rem;
    font-family: 'Libre Baskerville', serif;
    color: #F2E8CF;
    padding: 20px 0 20px 0 ;
    background-color: #144631;
    text-transform: uppercase;
}

.main_dishes {
    @media (min-width:768px) {
        margin: 2vw 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;

        div {
            display: flex;

            small {
                font-size: 1vw;
            }

            img {
                width: 25vw;
                border-radius: 10%;
                margin: 10px;
                border: 5px solid #144631;
            }

            div {
                display: flex;
                flex-direction: column;

                h3 {
                    font-family: 'Libre Baskerville', serif;
                    color: #144631;
                    font-weight: 700;
                    font-size: 1.7rem;
                    margin: 20px 0 0 0;
                    line-height: 35px;
                }

                hr {
                    width: 95%;
                    margin-left: 0;
                }

                p{
                    font-family: 'Libre Baskerville', serif;
                    font-size: 1em;
                    line-height: 25px;
                }

                input{
                    background-color: #144631;
                    color: #F2E8CF;
                    font-size: 1.3rem;
                    font-family: 'Libre Baskerville', serif;
                    position:inherit;
                    width: 100%;
                }

            }
        }
    }

    @media (max-width:768px) {
        margin: 2vw 0 0 0;
        display: grid;
        grid-template-columns: 1fr;

        div {
            display: flex;

            small {
                font-size: 1vw;
            }

            img {
                width: 100%;
                height: fit-content;
                border-radius: 10%;
                margin: 10px;
                border: 5px solid #144631;
            }

            div {
                display: flex;
                flex-direction: column;

                h3 {
                    font-family: 'Libre Baskerville', serif;
                    color: #144631;
                    font-weight: 700;
                    font-size: 1.7rem;
                    margin: 20px 0 0 0;
                    line-height: 35px;
                }

                hr {
                    width: 95%;
                    margin-left: 0;
                }

                p{
                    font-family: 'Libre Baskerville', serif;
                    font-size: 1.2rem;
                    line-height: 25px;
                }

                input{
                    background-color: #144631;
                    color: #F2E8CF;
                    font-size: 1.3rem;
                    font-family: 'Libre Baskerville', serif;
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
    }
}

.anuncio {
    background-image: url(../assets/img/combo1.jpg);
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;

    h2 {
        color: #F2E8CF;
        font-family: 'Libre Baskerville', serif;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 20px;
        background-color: #144631d9;
        text-align: center;
        line-height: 2;
        padding: 10px;
    }
}

footer {
    background-color: #144631;
    width: 100%;
    height: auto;
    padding: 10px 0 10px 0;

    h2 {
        text-align: center;
        background-color: transparent;
        color: #F2E8CF;
        font-family: 'Libre Baskerville', serif;
        font-size: 1.7rem;
    }

    div {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #144631;

        img,
        a {
            height: 80%;
            background-color: transparent;
        }

        img:hover {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
    }

}