<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/perezoso.ico" type="image/x-icon">
    <link rel="stylesheet" href="../scss/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <title>Carrito de compras</title>
</head>

<body>
    <header class="encabezado">
        <a href="./inicio.html"><img src="../assets/img/logo.png" alt="perezoso" id="logo"></a>
    </header>

    <h1 id="tituloC">Carrito de compras</h1>

    <hr>

    <section class="datos">
        <!-- Datos implementados desde carrito.js -->
    </section>

    <hr>

    <section class="main_dishes combos">
        <!-- Datos implementados desde carrito.js -->
    </section>

    <hr>

    <section class="costos">
        <!-- Datos implementados desde carrito.js -->
    </section>

    <hr>

    <section class="ordenar">
        <a href="../index.html">Ordenar</a>
    </section>

    <script src="../js/data.js"></script>
    <script src="../js/carrito.js"></script>
</body>

</html>