<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/perezoso.ico" type="image/x-icon">
    <link rel="stylesheet" href="../scss/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <title>Lazy Restaurant - Especialidades</title>
</head>

<body>
    <header class="encabezado">
        <a href="../index.html"><img src="../assets/img/logo.png" alt="perezoso" id="logo"></a>
        <a href=""><img src="../assets/img/carrito-de-compras.png" alt="carrito" id="carrito"></a>
    </header>

    <nav class="nav">
        <h2>Nuestro menú</h2>
        <hr>
        <div>
            <li><a href="./entradas.html">Entradas</a></li>
            <li><a href="./postres.html">Postres</a></li>
            <li><a href="./banquetes.html">Banquetes</a></li>
            <li><a class="active" href="./especialidades.html">Especialidades</a></li>
            <li><a href="./bebidas.html">Bebidas</a></li>
        </div>
    </nav>

    <hr>
    <hr>
    <h1 class="titulo">Especialidades</h1>
    <hr>
    <hr>

    <section class="main_dishes">
        <div>
            <img src="../assets/img/esp-1.jpeg" alt="pizza italiana">
            <div>
                <h3>Pizza italiana<br>$710.<small>50</small></h3>
                <hr>
                <p>Pizza italiana, especialidad del chef<br>(10 porciones).</p>
                <input type="button" value="Añadir a carrito">
            </div>
        </div>
        <div>
            <img src="../assets/img/esp-2.jpg" alt="pasta el pesto">
            <div>
                <h3>Pasta al pesto<br>$450.<small>00</small></h3>
                <hr>
                <p>Pasta al pesto con varidad de especias<br>Platillo con 5 estrellas.</p>
                <input type="button" value="Añadir a carrito">
            </div>
        </div>
        <div>
            <img src="../assets/img/esp-3.jpg" alt="camarones al ajillo">
            <div>
                <h3>Camarillos al ajillo<br>$1100.<small>00</small></h3>
                <hr>
                <p>Camarones al ajillo con variedad de especias<br>Platillo 5 estrellas.</p>
                <input type="button" value="Añadir a carrito">
            </div>
        </div>
        <div>
            <img src="../assets/img/esp-4.jpg" alt="sushi">
            <div>
                <h3>Sushi variedad<br>$550.<small>00</small></h3>
                <hr>
                <p>Variedad de sushi con salsa de anguila<br>Platillo 5 estrellas.</p>
                <input type="button" value="Añadir a carrito">
            </div>
        </div>
    </section>
    <hr>

    <footer>
        <h2>Siguenos en nuestras redes sociales</h2>
        <div>
            <a href="https://www.facebook.com/JosIngPro98/" target="_blank"><img src="../assets/img/facebook.png"
                    alt="facebook"></a>
            <a href="https://www.instagram.com/alejo_perez_98/" target="_blank"><img src="../assets/img/instagram.png"
                    alt="instagram"></a>
            <a href="https://wa.me/50256276439" target="_blank"><img src="../assets/img/whatsapp.png"
                    alt="whatsapp"></a>
        </div>

    </footer>
</body>

</html>