<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/perezoso.ico" type="image/x-icon">
    <link rel="stylesheet" href="../scss/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <title>Lazy Restaurant - Postres</title>
</head>

<body>
    <header class="encabezado">
        <a href="./inicio.html"><img src="../assets/img/logo.png" alt="perezoso" id="logo"></a>
        <a href="../layout/carrito.html"><img src="../assets/img/carrito-de-compras.png" alt="carrito" id="carrito"></a>
    </header>

    <nav class="nav">
        <h2>Nuestro menú</h2>
        <hr>
        <div>
            <li><a href="./entradas.html">Entradas</a></li>
            <li><a href="./inicio.html">Inicio</a></li>
            <li><a href="./banquetes.html">Banquetes</a></li>
            <li><a href="./especialidades.html">Especialidades</a></li>
            <li><a href="./bebidas.html">Bebidas</a></li>
        </div>
    </nav>

    <hr>
    <hr>
    <h1 class="titulo">Postres</h1>
    <hr>
    <hr>

    <form class="filtro">
        <label>Filtro</label>
        <select name="filtro" id="filtro">
            <option value="Seleccionar" selected disabled hidden>Seleccionar</option>
            <option value="Pie">Pies</option>
            <option value="Especialidad">Especialidades</option>
            <option value="Helado">Helados</option>
            <option value="Sin filtro">Sin filtro</option>
        </select>
    </form>

    <hr>

    <section class="main_dishes combos">
        <!-- Datos implementados desde menuP.js -->
    </section>
    <hr>

    <footer>
        <h2>Siguenos en nuestras redes sociales</h2>
        <div>
            <a href="https://www.facebook.com/JosIngPro98/" target="_blank"><img src="../assets/img/facebook.png"
                    alt="facebook"></a>
            <a href="https://www.instagram.com/alejo_perez_98/" target="_blank"><img src="../assets/img/instagram.png"
                    alt="instagram"></a>
            <a href="https://wa.me/50256276439" target="_blank"><img src="../assets/img/whatsapp.png"
                    alt="whatsapp"></a>
        </div>

    </footer>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/menuP.js"></script>

</body>

</html>