<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/perezoso.ico" type="image/x-icon">
    <link rel="stylesheet" href="../scss/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <title>Lazy Restaurant - Postres</title>
</head>

<body>
    <header class="encabezado">
        <a href="../index.html"><img src="../assets/img/logo.png" alt="perezoso" id="logo"></a>
        <a href=""><img src="../assets/img/carrito-de-compras.png" alt="carrito" id="carrito"></a>
    </header>

    <nav class="nav">
        <h2>Nuestro menú</h2>
        <hr>
        <div>
            <li><a href="./entradas.html">Entradas</a></li>
            <li><a class="active" href="./postres.html">Postres</a></li>
            <li><a href="./banquetes.html">Banquetes</a></li>
            <li><a href="./especialidades.html">Especialidades</a></li>
            <li><a href="./bebidas.html">Bebidas</a></li>
        </div>
    </nav>

    <hr>
    <hr>
    <h1 class="titulo">Postres</h1>
    <hr>
    <hr>

    <section class="main_dishes">
        <div>
            <img src="../assets/img/pos-1.png" alt="pie de manzana">
            <div>
                <h3>Pie de manzana<br>$130.<small>50</small></h3>
                <hr>
                <p>Pie de manzana, especialidad del chef.<br>(4 porciones)</p>
                <input type="button" value="Añadir a carrito">
            </div>
        </div>
        <div>
            <img src="../assets/img/pos-2.jpg" alt="rollos de canela">
            <div>
                <h3>Rollos de canela<br>$250.<small>00</small></h3>
                <hr>
                <p>Deliciosos rollos de canela con variedad de salsas dulces.<br>(4 rollos)</p>
                <input type="button" value="Añadir a carrito">
            </div>
        </div>
        <div>
            <img src="../assets/img/pos-3.jpg" alt="pie de queso">
            <div>
                <h3>Pie de queso<br>$215.<small>00</small></h3>
                <hr>
                <p>Pie de queso, especialidad del chef.<br>(4 porciones)</p>
                <input type="button" value="Añadir a carrito">
            </div>
        </div>
        <div>
            <img src="../assets/img/pos-4.jpg" alt="pie de frutos rojos">
            <div>
                <h3>Pie de frutos rojos<br>$250.<small>00</small></h3>
                <hr>
                <p>Pie de frutos rojos, especialidad del chef.<br>(4 porciones)</p>
                <input type="button" value="Añadir a carrito">
            </div>
        </div>
    </section>
    <hr>

    <footer>
        <h2>Siguenos en nuestras redes sociales</h2>
        <div>
            <a href="https://www.facebook.com/JosIngPro98/" target="_blank"><img src="../assets/img/facebook.png"
                    alt="facebook"></a>
            <a href="https://www.instagram.com/alejo_perez_98/" target="_blank"><img src="../assets/img/instagram.png"
                    alt="instagram"></a>
            <a href="https://wa.me/50256276439" target="_blank"><img src="../assets/img/whatsapp.png"
                    alt="whatsapp"></a>
        </div>

    </footer>
</body>

</html>